<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ei.opensrp.indonesia"
    android:installLocation="auto"
    android:versionCode="32"
    android:versionName="3.0.1">

    <compatible-screens>
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />

        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />

        <!-- Special case for Nexus 7 -->
        <screen
            android:screenDensity="213"
            android:screenSize="large" />
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:name=".view.activity.BidanApplication"
        android:clearTaskOnLaunch="true"
        android:icon="@drawable/opensrp_logo"
        android:label="@string/app_name"
        android:largeHeap="true">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b74c58c94d8965151212e8ecf1f4fdfbf5b7f4e4" />

        <activity
            android:name=".LoginActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.BidanHomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle"></activity>
        <activity
            android:name=".view.activity.NativeKISmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".view.activity.NativeKIANCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".view.activity.NativeKIAnakSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".view.activity.NativeKBSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".view.activity.NativeKIPNCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".view.activity.NativeReportingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"></activity>
        <receiver android:name=".view.receiver.SyncBidanBroadcastReceiver" />
    </application>

</manifest>
