<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ei.opensrp.path">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="org.ei.opensrp.path.application.VaccinatorApplication"
        android:allowBackup="true">

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VaccinatorHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.ChildSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.ChildDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.FieldMonitorSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.FieldMonitorDailyDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.FieldMonitorMonthlyDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.WomanSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.WomanDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.VaccineReportActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.vijay.jsonwizard.activities.JsonFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".receiver.CESyncReceiver" />

        <activity android:name=".activity.ProviderProfileActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />
        <service android:name=".service.intent.PathReplicationIntentService" />
    </application>



    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
